<div class="col-md-10 mx-auto">
    <div class="main-card mb-3 card">
        <div class="card-body"><h5 class="card-title">Add New Project</h5>
            <form method="POST" action="/admin/add_project">
                <div class="position-relative form-group">
                    <label for="project_name" class="">Name</label>
                    <input name="project_name" id="project_name" required placeholder="Project Name Here..." type="text" class="form-control">
                </div>
                <div class="position-relative form-group">
                    <label for="frontend_language" class="">Front-End Languages</label>
                    <input name="frontend_language" id="frontend_language" required placeholder="Frontend language Here..." type="text" class="form-control">
                    
                    
                </div>
                <div class="position-relative form-group">
                    <label for="backend_language" class="">Back-End Langauges</label>
                    <input name="backend_language" id="backend_language" required placeholder="Backend language Here..." type="text" class="form-control">
                    
                   
                </div>
                <div class="position-relative form-group">
                    <label for="project_details" class="">Project Details</label>
                    <textarea name="project_details" id="project_details" required rows="5" class="form-control"></textarea>
                </div>
                
                <button class="mt-1 btn btn-primary" type="submit">Add</button>
            </form>
        </div>
    </div>
</div>