<div class="col-md-10 mx-auto">
    <div class="main-card mb-3 card">
        <div class="card-body"><h5 class="card-title">Assign Programmer</h5>
            <form method="POST" action="/admin/assign_programmer">
                
                <div class="position-relative form-group">
                    <label for="programmer" class="">Select Programmer</label>
                    <select name="programmer" id="programmer" class="form-control" required>
                        <option value="">-- Select --</option>
                        {{!-- add programmer list --}}
                        {{#each users}}
                            <option value="{{id}}">{{name}}</option>
                        {{/each}}
                    </select>
                </div>

                <div class="position-relative form-group">
                    <label for="project" class="">Select Project</label>
                    <select name="project" id="project" class="form-control" onchange="load_todos()" required>
                        <option value="">-- Select --</option>
                        {{!-- add project list --}}
                        {{#each projects}}
                            <option value="{{id}}">{{name}}</option>
                        {{/each}}
                    </select>
                </div>

                <div class="position-relative form-group">
                    <label for="project_todo" class="">Select Todos</label>
                    <div id="todo">
                        <select name="project_todo" id="project_todo" class="form-control" multiple required>
                        {{!-- add project todo list with multiselect --}}
                        </select>
                    </div>
                    
                </div>

                <button class="mt-1 btn btn-primary" type="submit">Assign</button>
            </form>
        </div>
    </div>
</div>

<script>
    // add new input filed for project todo
    let todoID = 2
    function addnew_todo(){
        let name = "project_todo" + todoID
        var result = '<input type="text" name="'+name+'" id="'+name+'" class="form-control mb-3">'
        document.getElementById("projectTodo").innerHTML += result
        todoID += 1
    }

    function load_todos(){
        let project_id = $("#project option:selected").val()
        $("#project_todo").remove()
        $("#todo").append('<select name="project_todo" id="project_todo" class="form-control" multiple required>')
        $.ajax({
            type: 'GET',
            url: '/admin/project_todos/' + project_id,
            success: (data) => {
                if (data.length > 0){
                    var result = ''
                    for(let i = 0; i < data.length; i++){
                        result += '<option value="'+ data[i].id +'">'+ data[i].todo+'</option>'
                    }
                    result += '</select>'
                    $("#project_todo").append(result)
                }
            }
        })
    }
</script>