<div class="row">

    {{!-- Todo (today) --}}
    <div class="col-6">
        
    </div>

    {{!-- Projects lists --}}
    <div class="col-3">

    </div>

    {{!-- list of the users --}}
    <div class="col-3" id="scroll">
        <h4 class="mb-4">Total Employee: <span style="color: cornflowerblue;">{{total_employee}}</span></h4>
        {{#each employee}}
        <a href="/admin/view_user/details/{{id}}" style="text-decoration: none; color:#495057">
            <div class="name_list">
            <p>{{name}}</p>
        </div>
        </a>
        {{/each}}
    </div>
</div>

<script>
        // setting content width as device width
    let deviceHeight = window.innerHeight - 90
    document.getElementById("scroll").style.height = deviceHeight + "px";
</script>