<div class="row">
    <div class="col-4">
        <div class="card" style="width: 18rem;">
            <div class="card-body">
                <h5 class="card-title">Total Number of Employee</h5>
                <a href="#" class="btn btn-primary">{{total_employee.total}}</a>
            </div>
        </div>
        
    </div>
    <div class="card" style="width: 18rem;">
        <div class="card-body">
            <h5 class="card-title">Total OnGoing Project</h5>
            <a href="#" class="btn btn-primary">-</a>
        </div>
    </div>
</div>

