<div class="col-4">
    <div id="user-scroll">
        <div>
            <h4>Sandeep Pokhrel</h4>
            <small class="text-inactive">This is the demo message</small>
        </div>
        <hr class="inactive-background">
        <div>
            <h4>Ram Jane</h4>
            <small class="text-inactive">Lorem ipsum dolor sit amet consectetur adipisicing elit. Nihil, quaerat dolor rem quod perspiciatis nulla voluptatibus ipsam nesciunt sed doloribus consectetur dicta facilis quos. Minima odio quis delectus cumque voluptates!</small>
        </div>
        <hr class="inactive-background">
        <div>
            <h4>Adolf Hitler</h4>
            <small>This is the demo message</small>
        </div>
        <hr class="inactive-background">
        <div>
            <h4>Rahesh Hamal</h4>
            <small>This is the demo message</small>
        </div>
        <hr class="inactive-background">
        <div>
            <h4>KP Oli</h4>
            <small>This is the demo message</small>
        </div>
        <hr class="inactive-background">
        <div>
            <h4>Donald Trump</h4>
            <small>This is the demo message</small>
        </div>
        <hr class="inactive-background">
        <div>
            <h4>Thanos</h4>
            <small>This is the demo message</small>
        </div>
        <hr class="inactive-background">
        <div>
            <h4>Gautam Budhha</h4>
            <small>This is the demo message</small>
        </div>
        <hr class="inactive-background">
    </div>
</div>

<div class="col-8">
    <div id="chat-scroll">
        <div class="pull-left box-width">
            <p class="chat-box">hello from the left side</p>
        </div>
        
        <div class="pull-right box-width">
            <p class="chat-box">hello from the right side Lorem ipsum, dolor sit amet consectetur adipisicing elit. Repudiandae, eius molestias nulla, repellendus maiores eligendi neque nemo vitae deserunt distinctio deleniti quia illum unde porro quis optio laudantium vero natus. </p>
        </div>
        
        <div class="pull-left box-width">
            <p class="chat-box">hello from the left side</p>
        </div>
    </div>
    <form action="" class="form-inline">
        <div class="position-relative form-group">
             <input type="text" name="message" id="message" placeholder="Type a message..." class="form-control send-message mr-2" style="width: 810px;">
        </div>
       <button type="submit" class="btn btn-outline-secondary mt-3 btn-submit">Send</button>
      
    </form>
</div>





<script type="text/javascript">
    
    let deviceHeight1 = window.innerHeight - 78
    let deviceHeight2 = window.innerHeight - 140
    document.getElementById("user-scroll").style.height = deviceHeight1 + "px";
    document.getElementById("chat-scroll").style.height = deviceHeight2 + "px";
   
</script>
