<div class="row">
    <div class="col-12">
        <div class="main-card mb-3 card">
            <div class="card-body"><h5 class="card-title">Table with hover</h5>
                <table class="mb-0 table table-hover">
                    <thead>
                        <tr>
                            <th>Name</th>
                            <th>Email</th>
                            <th>Designation</th>
                            <th>Role</th>
                            <th>Action</th>
                        </tr>
                    </thead>
                    <tbody>
                        {{#each users}}
                        <tr>
                            <td>{{name}}</td>
                            <td>{{email}}</td>
                            <td>{{designation}}</td>
                            <td>{{role}}</td>
                            <td>
                            <a href="#" class="btn btn-danger btn-circle">
                                <i class="fas fa-trash"></i>
                            </a>
                            &nbsp;&nbsp;
                            <a href="#" class="btn btn-warning btn-circle">
                                <i class="fas fa-edit"></i>
                            </a>
                            &nbsp;&nbsp;&nbsp;&nbsp;
                            <button type="button" class="btn btn-info btn-circle"data-toggle="modal" data-target="#exampleModalCenter">
                                View Details
                            </button>
                       </td>
                        </tr>
                        {{/each}}
                    </tbody>
                </table>
            </div>
        </div>
    </div>
</div>
