<div class="col-md-10 mx-auto">
    <div class="main-card mb-3 card">
        <div class="card-body"><h5 class="card-title">Add Project Todo</h5>
            <form method="POST" action="/admin/add_project_todo">
                
                <div class="position-relative form-group">
                    <label for="project" class="">Select Project</label>
                    <select name="project" id="project" class="form-control">
                        <option value="">-- Select --</option>
                        {{!-- add project list --}}
                        {{#each projects}}
                            <option value="{{id}}">{{name}}</option>
                        {{/each}}
                    </select>
                </div>
                
                <div class="position-relative form-group" id="projectTodo">
                    <label for="project_todo" class="">Project Todo</label>
                    <button onclick="addnew_todo()" type="button" class="btn btn-primary ml-5 my-2" style="float: right;"> + Add New</button>
                    <input type="text" name="project_todo1" id="project_todo1" class="form-control mb-3" required>
                </div>
                <button class="mt-1 btn btn-primary" type="submit">Add</button>
            </form>
        </div>
    </div>
</div>

<script>
    // add new input filed for project todo
    let todoID = 2
    function addnew_todo(){
        let name = "project_todo" + todoID
        var result = '<input type="text" name="'+name+'" id="'+name+'" class="form-control mb-3" required>'
        $("#projectTodo").append(result)
        todoID += 1
    }
</script>